# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python & Backend
**/venv/
**/ENV/
**/env/
**/__pycache__/
*.py[cod]
*$py.class
**/.pytest_cache/
**/uploads/
**/.env
!**/.env.example

# Flutter & Dart
**/.dart_tool/
**/build/
**/.pub-cache/
**/.pub/
**/pubspec.lock

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# Temporary & System
tmp/
*.log
scratch/
