# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Database / Storage
*.sqlite3
*.db

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Flutter & Dart
mobile/.dart_tool/
mobile/.fvm/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/ios/Flutter/App.framework
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/app.flt
mobile/ios/DerivedData/
mobile/android/.gradle
mobile/android/app/debug
mobile/android/app/profile
mobile/android/app/release

# macOS System Files
.DS_Store
